table.listorder .listorder-icon {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 44px;
    margin: auto;
    background-color: #f0f0f0;
    opacity: 0.2;
    cursor: default;
}
table.listorder .listorder-icon:before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 22px;
    height: 18px;
    margin-left: 5px;
    margin-top: 13px;
    background-image: repeating-linear-gradient(black, black 2px, transparent 2px, transparent 8px, black 8px, black 10px, transparent 10px, transparent 16px, black 16px, black 18px);
}
table.listorder.listorder-enabled .listorder-icon {
    opacity: 1;
    cursor: ns-resize;
}
table.listorder .listorder_clone {
    pointer-events: none;
}
table.listorder .listorder_clone td {
    position: relative;
    background-color: #f0f0f0;
}
table.listorder.listorder-dragrow tr {
    cursor: ns-resize;
}